<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="El tipo de cuento es requerido.">
    <ng-template matStepLabel><p style="font-size: 28px; font-family: 'Bad Script', cursive;">Tipo de cuento</p></ng-template>
    <app-typeStories [formGroup]="firstFormGroup"></app-typeStories>
    <div class="button-container">
      <button class="button_stepper"  matTooltip="Primary" mat-mini-fab color="primary" (click)="goHome()">
        <mat-icon >arrow_back</mat-icon>
      </button>
      <button class="button_stepper"  matTooltip="Primary" mat-mini-fab color="primary" matStepperNext>
        <mat-icon >arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Los personajes son requeridos">
    <ng-template matStepLabel matStepperIcon="account"><p style="font-size: 28px; font-family: 'Bad Script', cursive;">Personajes</p></ng-template>
    <app-characters [formGroup]="secondFormGroup"
      (arrayCharacters)="onSelectedCharactersChange($event)"></app-characters>
    <div class="button-container">
      <button class="button_stepper" matTooltip="Primary" mat-mini-fab color="primary" matStepperPrevious>
        <mat-icon >arrow_back</mat-icon>
      </button>
      <button class="button_stepper"  matTooltip="Primary" mat-mini-fab color="primary" matStepperNext>
        <mat-icon >arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="thirthFormGroup" errorMessage="El tema es requerido">
    <ng-template matStepLabel matStepperIcon="profile"><p style="font-size: 28px; font-family: 'Bad Script', cursive;">Tema a abordar</p></ng-template>
    <app-topic [formGroup]="thirthFormGroup"></app-topic>
    <div class="button-container">
      <button class="button_stepper"  matTooltip="Primary" mat-mini-fab color="primary" aria-label="Next" matStepperPrevious>
        <mat-icon  class="back-icon">arrow_back</mat-icon>
      </button>
      <button class="button_stepper"   matTooltip="Primary" mat-mini-fab color="primary" aria-label="Back" matStepperNext
        (click)="Generate_storie()">
        <mat-icon  class="back-icon">arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>