<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Neucha&display=swap" rel="stylesheet">
<!--------------------------SELECCION DE UN TIPO DE CUENTO---------------------->
<div id="card-area" [formGroup]="formGroup">
    <div class="wrapper">
        <div class="title">Tema a abordar:</div>
        <div class="box-area">
            <div class="box_item" *ngFor="let topic of topics">
                <label class="option_item">
                    <input type="radio" class="card_checkbox" formControlName="topicSelected" [value]="topic">
                    <div class="box">
                        <img src={{topic.urlImage}}>
                        <div class="overlay">
                            <h3>{{topic.nombre}}</h3>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>