body {
	margin: 0;
	padding: 0;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px;
	font-size: 2.5em;
	font-family: "Neucha", cursive;
	font-size: 50px;
}

.container {
	display: flex;
	width: 80%;
	align-items: center;
	align-self: center;
	justify-content: center;
}

.grid-container {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.cards {
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: border-box;
	width: 300px;
	height: 330px;
	background: rgba(217, 217, 217, 0.58);
	border: 2px solid grey;;
	backdrop-filter: blur(6px);
	border-radius: 17px;
	text-align: center;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	font-weight: bolder;
	background-color: white;
	margin: .5em;
	margin-left: .9em;
	overflow: hidden;
}
.cards img{
	margin-top: 10px;
	width: 70%;
}


.names-container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	color: black;
	text-decoration: double;
	font-family: "Alkatra", system-ui;
	font-size: 35px;
}

.container-buttons {
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
	margin: 30px;
}

.button_icon {
	width: 60px;
	height: 60px;
}

button {

	mat-icon {
		display: block;
		width: 30px;
		height: 30px;
		font-size: 30px;
		line-height: 30px;
	}
}

.container-storie p {

	display: flex;
	margin: 18px;
	font-family: "Tenor Sans", sans-serif;
	justify-content: center;
	align-items: center;
	text-align: justify;
	font-size: 2.05em;
	line-height: 1.5em; 

}


.container-back {
	margin: 18px;
}

mat-card-subtitle{
	font-size: 20px;
}
