.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 2.5em;
}

.container-buttons{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin: 30px;
}

.button_icon {
    width: 40px;
    height: 40px;
  }

button {

    mat-icon {
      display: block;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }

.container-storie p{
    
    display: flex;
    margin: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.05em;
    
}


.container-back{
    margin: 18px;
}
