<!--------------------------SELECCION DE UN TIPO DE CUENTO---------------------->
<div id="card-area" [formGroup]="formGroup">
    <div class="wrapper">
        <div class="title">Tipo de cuento:</div>
        <div class="box-area">
            <div class="box_item" *ngFor="let tipo of tipos">
                <label class="option_item">
                    <input type="radio" class="card_checkbox" formControlName="typeSelected"
                     [value]="tipo">
                    <div class="box">
                        <img alt="" src={{tipo.urlImage}}>
                        <div class="overlay">
                            <h3>{{tipo.nombre}}</h3>
                            <p>{{tipo.descripcion}}</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>