.titulo {
	display: flex;
	width: 100%;
	padding-top: 15px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	text-align: center;
}

.wrapper {
	width: 100%;
	padding: 10px 10%;
}

.cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
	grid-gap: 40px;
	margin-top: 40px;
}

.card {
	box-sizing: border-box;
	width: 190px;
	height: 254px;
	background: rgba(217, 217, 217, 0.58);
	border: 1px solid white;
	box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
	backdrop-filter: blur(6px);
	border-radius: 17px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	font-weight: bolder;
	color: black;
  }
  
  .card:hover {
	border: 1px solid black;
	transform: scale(1.05);
  }
  
  .card:active {
	transform: scale(0.95) rotateZ(1.7deg);
	border-color: orangered;
  }


  /*************** COLOCA AQUI ************/
  /* Cosmetics styles */ 
body {
	margin: .5em;
	background: lightgrey;
  }
  
  .cards {
	display: flex;
	flex-wrap: wrap;
  }
  
  .card {
	flex: 1 0 20%;
	position: relative;
	margin: .5em;
	padding: 2em;
	min-height: 4em;
	background: white;
	border: 3px solid grey;
  }
  
  .active { border-color: orangered; }
  
  /* This is where the magic happens */
  input[type="checkbox"] {
	position: absolute;
	top: .5em;
	left:.5em;
  }
  
  @media (pointer: coarse) { 
	input[type="checkbox"] {
	  height: 2em;
	  width: 2em;
	}
  }
  
  /* Use z-index to make it accessible to keyboard navigation */
  @media (hover: hover) {
				input[type="checkbox"] { z-index: -1 }
	.card:hover input[type="checkbox"],
				input[type="checkbox"]:focus,
				input[type="checkbox"]:checked { z-index: auto }
  }