<div [formGroup]="formulario">
    
    <div class="title">
        <button mat-icon-button class="button_autonew" (click)="getRandomCharacters()">
            <mat-icon mat-mini-fab color="primary" matTooltip="Primary">autorenew</mat-icon>
        </button>
        <p>Personajes del cuento:</p>
    </div>
    <div class="names-container">
        <p class="text-characters">{{getPersonajes()}}</p>
    </div>


    <div class="grid-container">
        <mat-card class="cards" *ngFor="let character of Allcharacters" [ngClass]="changeStyleSelected(character)"
            (click)="onCardClick(character)">
            <img alt="" style="width: 100px;" src={{character.urlImage}}>
            <mat-card-content>
                <mat-card-title
                    [ngClass]="{'setColorName': isSelected(character)}">{{character.nombre}}</mat-card-title>
                <mat-card-subtitle>{{character.oficio}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>

 




</div>