<div [formGroup]="formGroup">
    <div class="wrapper">
        <div class="titulo">Personajes del cuento: </div>
        <div class="cards">
            <div class="card" *ngFor="let character of characters">
                <input type="checkbox" [value]="character.id" (click)="changeSelected($event,character)"
                    formControlName="characters" [class.seleccionado]="character.seleccionado" />
                <img alt="" style="width: 100px;" src={{character.urlImage}}>
                <p>{{character.nombre}}</p>
            </div>

        </div>
    </div>

</div>