.button_autonew {
	width: 60px;
	height: 60px;
	margin-right: 60px;
	transform: rotate(180deg);
}


button {
	mat-icon {
		display: block;
		width: 40px;
		height: 40px;
		font-size: 40px;
		line-height: 40px;
	}
}

.title {
	display: flex;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 16px;
}

mat-card:hover .selection {
	opacity: 1;
}

mat-card.mat-elevation-z4 .selection {
	opacity: 1;
}

.card-selected {
	border: 2px solid #283593;
}

.selection {
	opacity: 0;
	cursor: pointer;
	color: #283593;
	background: #fff;
	position: absolute;
	right: -10px;
	top: -10px;
	border-radius: 100%;
	height: 24px;
	width: 24px;
}

.cards {
	cursor: default;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-sizing: border-box;
	width: 200px;
	height: 230px;
	background: rgba(217, 217, 217, 0.58);
	border: 2px solid grey;;
	backdrop-filter: blur(6px);
	border-radius: 17px;
	text-align: center;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	font-weight: bolder;
	background-color: white;
	margin: .5em;
	margin-left: .9em;
}

.cards {
	flex: 1 0 20%;
	position: relative;
	margin: .2em;
	padding: 2em;
	min-height: 2em;
	background: white;
	border: 2px solid grey;
}


.names-container {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	padding: 10px;
	color: #3498db;
	font-size: 20px;
}

.text-characters {
	font-size: 20px;
}

/************** ngClass css **********************+*/
.selected-card {
	border: 3px solid #3498db;
}

.setColorName {
	color: #3498db;
}



/* This is where the magic happens
 
  @media (pointer: coarse) { 
	input[type="checkbox"] {
	  height: 2em;
	  width: 2em;
	}
  }

  @media (hover: hover) {
				input[type="checkbox"] { z-index: -1 }
	.cards:hover input[type="checkbox"],
				input[type="checkbox"]:focus,
				input[type="checkbox"]:checked { z-index: auto; border-color: orangered; }
  }

  */